.Wallpaper_Register 
{
    position: fixed; /* Đảm bảo rằng hình ảnh sẽ nổi trên cả trang */
    z-index: -1; /* Đặt z-index để đảm bảo rằng hình ảnh sẽ nổi sau tất cả các phần tử khác */
    object-fit: cover; /* Đảm bảo rằng hình ảnh sẽ đầy đủ kích thước không gian được cung cấp */
}
.register-form
{
    position: relative;
    z-index: 1;
    top: 140px;
}
.table_profile input 
{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    padding: 4px; /* Đặt kích thước padding theo mong muốn */
    font-size: 14px; /* Đặt kích thước font theo mong muốn */
    border: 3px solid #A4937C; /* Thêm đường viền nếu cần */
    background-color: transparent; /* Đặt màu nền theo mong muốn */
    border-radius: 5px; /* Thêm góc cong nếu cần */
}
.table_profile select
{
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    padding: 4px; /* Đặt kích thước padding theo mong muốn */
    font-size: 14px; /* Đặt kích thước font theo mong muốn */
    border: 3px solid #A4937C; /* Thêm đường viền nếu cần */
    background-color: transparent; /* Đặt màu nền theo mong muốn */
    border-radius: 5px; /* Thêm góc cong nếu cần */
}
#agree-term 
{ 
	width: 20px;
}
#signup
{
    margin-top: 10px;   
    padding: 8px 70px; /* Đặt kích thước padding theo mong muốn */
    font-size: 14px; /* Đặt kích thước font theo mong muốn */
    border-radius: 5px; /* Thêm góc cong nếu cần */
    background-color: #A4937C; /* Đặt màu nền theo mong muốn */
    color: #FFFFFF; /* Đặt màu chữ theo mong muốn */
    cursor: pointer; /* Thêm hiệu ứng con trỏ khi di chuột qua nút */
}